:root {
  --orange: hsla(32, 100%, 50%, 1);
  --yellow: hsla(49, 99%, 50%, 1);
  --lime: hsla(82, 90%, 45%, 1);
  --green: hsla(127, 81%, 41%, 1);
  --red: hsla(342, 93%, 53%, 1);
  --pink: hsla(314, 85%, 45%, 1);
  --blue: hsla(211, 92%, 52%, 1);
  --purple: hsla(283, 92%, 44%, 1);
  --cyan: hsla(195, 98%, 55%, 1);
  --sky: hsla(226.6, 94%, 70%, 1);
  --white: hsla(0, 0%, 95%, 1);
  --black: hsla(0, 0%, 10%, 1);

  /* abstract our colours */
  --boxMain: var(--pink);
  --boxSecond: var(--purple);
  --boxHigh: var(--yellow);
  --border: 1vmin solid var(--black);
  --borderRad: 2px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  padding: 0;
  font-family: sans-serif, system-ui;
  font-size: 100%;
  color: var(--black);
}

input {
  margin: 8px;
}

select {
  margin: 8px;
}

h2 {
  font-size: 1.2em;
}

.green {
  color: rgb(44, 175, 44);
}

h1 {
  font-size: 2em;
  color: purple;
  line-height: 1;
  padding : 3px;
  margin : 0;
}

p {
  font-size : 16px;
  padding : 2px;
  color: crimson;
  margin : 8px;
  line-height : 16px;
}

label {
  font-size : 16px;
  padding : 8px;
  color: blue;
  margin : 0;
  line-height : 8px;
}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:rgb(150, 108, 18);background-color:#e8edff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#f39ee5;}
.tg .tg-hmp3{background-color:#D2E4FC;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}